<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>User Registration and Login</display-name>
	<welcome-file-list>
		<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>/LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/LoginUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRegistration</servlet-name>
		<servlet-class>/User Registration and
			Login/src/com/bridgelabz/controller/RegistrationControllers.java</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegistration</servlet-name>
		<url-pattern>/RegisterUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserLogout</servlet-name>
		<servlet-class>/User Registration and
			Login/src/com/bridgelabz/controller/RegistrationControllers.java</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogout</servlet-name>
		<url-pattern>/LogoutUser</url-pattern>
	</servlet-mapping>
</web-app>